
body {
	background-color:white;
	margin:0;
    padding:0;
    width:100%;
    height:100%;
}

div {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


#viewport {
	width:90%;
	height:90%;
	
    background-color: rgb(53, 51, 51);

	position:relative;
	
	margin:2.5% auto 0px auto;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    
}

.zoomContainer div {
	float:left;
    background-color:#fafaf6;
    width:35%;
    height:200px;
	margin:5%;
	margin-right:2.5%;
	border:1px solid red;
	overflow:hidden;
}

/*
#steer {
	background-color:#fcc;
	position:absolute;
	left:50px;
	top:50px;
	width:300px;
	height:200px;
	border:1px solid red;
}

#brake {
	background-color:rgb(62, 117, 219);
	position:absolute;
	left:50px;
	top:300px;
	width:300px;
	height:200px;
	border:1px solid red;
}

#throttle {
	background-color:#fcc;
	position:absolute;
	left:50px;
	top:50px;
	width:300px;
	height:200px;
	border:1px solid red;
}

#misc {
	background-color:rgb(62, 117, 219);
	position:absolute;
	left:50px;
	top:300px;
	width:300px;
	height:200px;
	border:1px solid red;
}
*/